<html>
    <head>
        <title>Choose a machine</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sitemach</a></h1>
        </div>
            {% for machine in machines %}
            <div>
            <p>Created: {{ machine.created_date }}</p>
            <h2><a href="">{{ machine.name }}</a></h2>
            <p>{{ machine.machineid }}</p>
            <p>{{ machine.clientid }}</p>
            <p>{{ machine.kind }}</p>
            <p>{{ machine.brand }}</p>
            <p>{{ machine.characteristics|linebreaksbr }}</p>
            </div>
            {% endfor %}
    </body>
</html>